.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 120px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;

    &__navigate {
        
    }

    &__link_list {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.address__link {
    display: flex;
    align-items: center;
    gap: 10px;

    &_messenger {
        display: flex;
        align-items: center;
        gap: 10px;

        >img {
            border-radius: 50%;
        }
    }
}
