.serviceSign {
    align-self: center;
    width: 700px;
    background-color: #F3F3F3;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    border: 1px #000 solid;
    border-radius: 20px;
    margin-bottom: 40px;

    &__title {
        font-size: 30;
        text-align: left;
    }
}